/* Styling for landing/home page */
#me {
  max-width: 100%;
  max-height: auto;
}

.parallax-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 700px;
  height: fit-content;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/* Buttons  */
.btn-large, #sendBtn {
  background: url("../images/blinkBackground3.jpg");
}

/* Featured Projects on homepage */
#alertifyProjectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#alertifyProject {
  color: white;
  text-shadow: 1px 1px #000000;
}

#dollhouseProjectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dollhouseProject {
  color: white;
  text-shadow: 1px 1px #000000;
}

#bezierProjectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bezierProject {
  color: white;
  text-shadow: 1px 1px #000000;
}

#aboutMe {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styling for contact icons */
#github {
  padding: 5px;
  max-width: 100%;
  max-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#linkedin {
  padding: 5px;
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
}

#resume {
  padding: 5px;
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
}

#mail {
  padding: 10px;
}

