/* Styling for landing/home page */
#me {
  max-width: 100%;
  max-height: auto;
}

.parallax-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 380px;
  line-height: 0;
  height: 700px;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.btn-large, #sendBtn {
  background: url("../images/blinkBackground3.jpg");
  opacity: .75;
}

#alertifyProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dollhouseProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bezierProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aboutMe {
  text-align: left;
}

/* Styling for contact icons */
#github {
  padding: 5px;
  max-width: 100%;
  max-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#linkedin {
  padding: 5px;
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
}

#resume {
  padding: 5px;
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
}

#mail {
  padding: 10px;
}