.page-footer {
  background-color: white;
}

.footerText {
  color: black;
}

a {
  padding: 1rem;
}

#sendBtn {
  background: url("../../images/dollhouse4.jpg");
  opacity: 75%;
}

/* Styling for contact icons */
#github {
  max-width: 100%;
  max-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#linkedin {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
}

#resume {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
}

.contactIconTitles {
  display: flex;
  justify-content: center;
}

#contactCard {
  padding: 1rem;
}